$break-medium: 768px;
$break-large: 1024px;

.card-auth {
  border: 1px solid #e6ecef;
  border-radius: 3px;
  padding: 18px;  
  .title {
    font-size: 22px;
    color: #4c4c4c;
    margin-bottom: 18px;
  }
  .content {
    margin-bottom: 18px;
  }
  .action {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: $break-medium - 1) {
    width: 70vw;
  }
  @media screen and (min-width: $break-medium) {
    width: 40vw;
  }
  @media screen and (min-width: $break-large) {
    width: 30vw;
  }   
}
