$break-medium: 768px;
$break-large: 1024px;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .content {    
    @media screen and (max-width: $break-medium - 1) {
      width: 80vw;
    }
    @media screen and (min-width: $break-medium) {
      width: 70vw;
    }
    @media screen and (min-width: $break-large) {
      width: 50vw;
    }    
  }
}
